<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_bA0y5AAOtpAsHyxF-6wbNljx2ynzAzE</string>
	<key>GCM_SENDER_ID</key>
	<string>995458264256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidsaver.statusgetter</string>
	<key>PROJECT_ID</key>
	<string>status-getter-otto</string>
	<key>STORAGE_BUCKET</key>
	<string>status-getter-otto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995458264256:ios:19f90c3ebfb8e4a21bd125</string>
</dict>
</plist>